<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <link rel="icon" href="https://i.imgur.com/MBha5tm.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Dgamigurumi</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top gris" id="menu">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarColor02"
        aria-controls="navbarColor02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="/">
                <h4 class="text-mr text-white">Dgamigurumi</h4>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/trabajos">Trabajos</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                onclick="window.location.href = '/#beneficios';"
                >Beneficios</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="window.location.href = '/#contacto';"
                >Contacto</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron text-center fondo p-4">
      <img
        src="https://i.imgur.com/8h67qH3.pngs"
        class="rounded-circle mx-auto d-block mt-5"
        width="120px"
        height="120px"
      />
      <h1 class="text-white">Trabajos</h1>
    </div>
    <!-- <span class="badge bg-dark p-2">NUEVO</span> -->
    <div class="container">
      <div class="row mt-4">
        <h3 class="text-center mt-3 fw-bold" id="conejos">Coneja</h3>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#conejanaranja1">
            <img
              loading="lazy"
              src="https://i.imgur.com/3sESOra.png"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#conejanaranja2">
            <img
              loading="lazy"
              src="https://i.imgur.com/LiYdA4t.png"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#conejanaranja3">
            <img
              loading="lazy"
              src="https://i.imgur.com/vAHkR8Q.png"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <h3 class="text-center mt-3 fw-bold">Coneja de orejas largas</h3>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#ConejaOrejas1">
            <img
              loading="lazy"
              src="https://i.imgur.com/Pq54jw2.png"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#ConejaOrejas2">
            <img
              loading="lazy"
              src="https://i.imgur.com/ArjPOjP.png"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#ConejaOrejas3">
            <img
              loading="lazy"
              src="https://i.imgur.com/qQnphQs.png"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>

        <h3 class="text-center mt-3 fw-bold" id="osos">Osito</h3>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#osito1">
            <img
              loading="lazy"
              src="https://i.imgur.com/AZT0M9v.jpg"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#osito2">
            <img
              loading="lazy"
              src="https://i.imgur.com/mgwmNkr.jpg"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#osito3">
            <img
              loading="lazy"
              src="https://i.imgur.com/BDTAAt5.jpg"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>

        <h3 class="text-center mt-3 fw-bold">Osita</h3>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#osita1">
            <img
              loading="lazy"
              src="https://i.imgur.com/6xFvhbH.jpg"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#osita2">
            <img
              loading="lazy"
              src="https://i.imgur.com/LQUaXXQ.png"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#osita3">
            <img
              loading="lazy"
              src="https://i.imgur.com/UmHgV95.jpg"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>

        <h3 class="text-center mt-3 fw-bold">Stitch</h3>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#stitch1">
            <img
              loading="lazy"
              src="https://i.imgur.com/OUlNWIA.png"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#stitch2">
            <img
              loading="lazy"
              src="https://i.imgur.com/2huSjjU.png"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#stitch3">
            <img
              loading="lazy"
              src="https://i.imgur.com/8MLNCVJ.png"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>

        <h3 class="text-center mt-3 fw-bold">Dinosaurio</h3>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#dinosaurio1">
            <img
              loading="lazy"
              src="https://i.imgur.com/kBoDCAf.jpg"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#dinosaurio2">
            <img
              loading="lazy"
              src="https://i.imgur.com/2dnj6PV.jpg"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#dinosaurio3">
            <img
              loading="lazy"
              src="https://i.imgur.com/q7EOai1.jpg"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>

        <h3 class="text-center mt-3 fw-bold" id="pulpos">Pulpos de apego</h3>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#pulpo1">
            <img
              loading="lazy"
              src="https://i.imgur.com/c1JCHIY.png"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#pulpo2">
            <img
              loading="lazy"
              src="https://i.imgur.com/Byzr0ix.png"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#pulpo3">
            <img
              loading="lazy"
              src="https://i.imgur.com/YNibqzd.jpg"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>

        <h3 class="text-center mt-3 fw-bold">Manta de Apego</h3>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#manta1">
            <img
              loading="lazy"
              src="https://i.imgur.com/3FclygH.png"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#manta2">
            <img
              loading="lazy"
              src="https://i.imgur.com/C196Erg.png"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
        <div class="col-sm-4 my-3" data-aos="zoom-out">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#manta3">
            <img
              loading="lazy"
              src="https://i.imgur.com/hMzbuwN.png"
              class="img-fluid rounded mx-auto d-block zoom"
            />
          </a>
        </div>
      </div>
    </div>

    <!-- MODAL IMAGE  -->

    <div class="modal fade" tabindex="-1" id="manta1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Manta de Apego</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/3FclygH.png"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="manta2">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Manta de Apego</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/C196Erg.png"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="manta3">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Manta de Apego</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/hMzbuwN.png"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- coneja naranja -->

    <div class="modal fade" tabindex="-1" id="conejanaranja1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Coneja Naranja</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/3sESOra.png"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="conejanaranja2">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Coneja Naranja</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/LiYdA4t.png"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="conejanaranja3">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Coneja Naranja</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/vAHkR8Q.png"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- ConejaOrejas -->

    <div class="modal fade" tabindex="-1" id="ConejaOrejas1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Coneja de orejas largas</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/Pq54jw2.png"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="ConejaOrejas2">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Coneja de orejas largas</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/ArjPOjP.png"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="ConejaOrejas3">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Coneja de orejas largas</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/qQnphQs.png"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- osito -->

    <div class="modal fade" tabindex="-1" id="osito1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Osito</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/AZT0M9v.jpg"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="osito2">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Osito</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/mgwmNkr.jpg"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="osito3">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Osito</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/BDTAAt5.jpg"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- osita -->

    <div class="modal fade" tabindex="-1" id="osita1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Osita</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/6xFvhbH.jpg"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="osita2">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Osita</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/LQUaXXQ.png"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="osita3">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Osita</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/UmHgV95.jpg"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- stitch -->

    <div class="modal fade" tabindex="-1" id="stitch1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Stitch</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/OUlNWIA.png"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="stitch2">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Stitch</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/2huSjjU.png"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="stitch3">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Stitch</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/8MLNCVJ.png"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- dinosaurio -->

    <div class="modal fade" tabindex="-1" id="dinosaurio1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Dinosaurio</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/kBoDCAf.jpg"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="dinosaurio2">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Dinosaurio</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/2dnj6PV.jpg"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="dinosaurio3">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Dinosaurio</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/q7EOai1.jpg"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- pulpos -->

    <div class="modal fade" tabindex="-1" id="pulpo1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Pulpos</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/c1JCHIY.png"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="pulpo2">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Pulpo</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/Byzr0ix.png"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="pulpo3">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Pulpo</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="https://i.imgur.com/YNibqzd.jpg"
              class="img-fluid rounded-3"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer class="bg-dark text-white mt-4">
      <div class="container p-4">
        <div class="d-grid gap-3 text-center">
          <div>
            <h5 class="text-uppercase">
              <img
                src="https://i.imgur.com/8h67qH3.png"
                class="rounded-circle"
                width="60px"
                height="60px"
              />DGAMIGURUMI
            </h5>
          </div>

          <div class="list-unstyled" id="cont">
            <h5 class="text-uppercase">Contacto</h5>
            <a
              href="https://www.instagram.com/dgamigurumi/"
              class="text-decoration-none text-white"
              ><i class="bi bi-instagram me-1"></i>DGAMIGURUMI
            </a>
            <br />
            <a href="#!" class="text-white text-decoration-none"
              >danielaguiffrey@gmail.com</a
            >
            <a href="#!" class="text-decoration-none text-white">
              <p>
                <i class="bi bi-geo-alt-fill me-1"></i>Villa Elisa, Entre Riós
              </p>
            </a>
          </div>
          <div class="align-bottom">
            <a
              href="https://www.instagram.com/franasemb/"
              class="text-decoration-none text-white text-center"
            >
              <p>©Web creada por Franco Asemborn</p>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("a").on("click", function (event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;
            $("html, body").animate(
              {
                scrollTop: $(hash).offset().top,
              },
              800,
              function () {
                window.location.hash = hash;
              }
            );
          }
        });
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
    <script>
      $(window).scroll(function () {
        if ($("#menu").offset().top > 230) {
          $("#menu").addClass("gris-oscuro");
        } else {
          $("#menu").removeClass("gris-oscuro");
        }
      });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
